@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: robotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: robotoItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;

}

#content {
    display: flex;
    flex-direction: column;
    background-color: #393E46;
    
    align-items: center;
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: white;
    height: 8vh;
}

.title {
    text-align: center;
    font-family: bebas;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
    margin-bottom: 15px;
}

button {
    border: 1px solid #393E46;
    color: white;
    height: 40px;
    width: 80px;
    background-color: #393E46;
    font-family: robotoMedium;
}

button:hover {
    background-color: #4c535e;
    box-shadow: 0px 0px 35px #4c535e;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.title {
    margin-bottom: 25px;
}

.quote {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: robotoItalic;
}