@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: robotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: robotoItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}




* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: #393E46;
    height: 100vh;
    align-items: center;
    
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: white;
    height: 8vh;
}

.title {
    text-align: center;
    font-family: bebas;
    font-size: 100px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
    margin-bottom: 15px;
}

button {
    border: 1px solid #393E46;
    color: white;
    height: 40px;
    width: 80px;
    background-color: #393E46;
    font-family: robotoMedium;
}

button:hover {
    background-color: #4c535e;
    box-shadow: 0px 0px 35px black;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.title {
    margin-bottom: 25px;
}

.quote {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: robotoItalic;
}

h2 {
    font-family: robotoMedium;
}

.hours-section {
    background-color: #222831;
    border: 1px solid #222831;
    border-radius: 15px;
    text-align: center;
    width: 25vw;
}

.hours-content {
    font-family: robotoItalic, sans-serif;
}

.hours-section {
    margin-top: 65px;
    width: 20%;
    height: 25%;
    min-height: auto;
    line-height: 1.5em;
}

.location-section {
    margin-top: 65px;
    height: 15%;
    width: 20%;
    background-color: #222831;
    border: 1px solid #222831;
    border-radius: 15px;
    text-align: center;
}

.drinks-title {
    font-family: robotoMedium;
}
